<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="specFlow" type="TechTalk.SpecFlow.Configuration.ConfigurationSectionHandler, TechTalk.SpecFlow" />
    <section name="TestConfig" type="GherkinModel.Configuration.ConfigurationSectionHandler, GherkinModel"/>
  </configSections>
  <specFlow>
    <plugins>
      <add name="StepDisambiguaton" />
    </plugins>
    <stepAssemblies>
      <stepAssembly assembly="NUnitHarness" />
      
      <stepAssembly assembly="StepDisambiguaton.SpecFlowPlugin" />
      <stepAssembly assembly="NUnitSpecFlowRunner" />
    </stepAssemblies>
  </specFlow>
  <TestConfig>
    <TestProviders>
      <add name="HardCodedMockData" type="NUnitHarness.MockData.MockData, NUnitHarness.MockData" />
    </TestProviders>
  </TestConfig>
</configuration>